<div class="mainContent text-center">
    <ngx-charts-line-chart
  [results]="chartData"
  [scheme]="'cool'"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  [autoScale]="true"
  [view]="[1000, 600]"
  [tooltipDisabled]="false">
    
    <ng-template #tooltipTemplate let-model="model">
        <div class="tooltip-content">
            <strong>{{ model.series }}</strong><br>
            Date: {{ model.name }}<br>
            
            
        </div>
    </ng-template>
</ngx-charts-line-chart>
</div>