<div class="mainContent text-center">
    <div class="date-range">
        <mat-form-field appearance="fill">
            <mat-label>From</mat-label>
            <input matInput [matDatepicker]="startPicker" [(ngModel)]="startDate" />
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
            <mat-label>To</mat-label>
            <input matInput [matDatepicker]="endPicker" [(ngModel)]="endDate" />
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
    </div>
    <ngx-charts-line-chart
  [results]="filteredChartData"
  [scheme]="'cool'"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="true"
  [autoScale]="true"
  [view]="[1000, 600]"
  [tooltipDisabled]="false">
    
    <ng-template #tooltipTemplate let-model="model">
        <div class="tooltip-content">
            <strong>{{ model.series }}</strong><br>
            Date: {{ model.name }}<br>
            <div *ngFor="let rep of model.sets | keyvalue">
                Reps: {{ rep.key }} 
                Weight: {{ rep.value }} kg
            </div>
        </div>
    </ng-template>
</ngx-charts-line-chart>
</div>