<div class="mainContent">
    <p class="fs-3 fw-bold">Good morning, {{displayName}}</p>
    <p>Here is your summary of today:</p>

    <div style="height: 30vh; margin-bottom: 15%;">
        <img src="/assets/BicepsWorkout.jpg" class="rounded img-fluid float-start" style="max-width: 40%;height: auto;">
        <div class="float-start" style="padding: 10% 0 0 10%">
            <p class="fs-4 fw-bold">Today's workout</p>
            <p class="fs-5">{{ todaysWorkout }}</p>
        </div>
    </div>
    <br>

    <div class="ProgressBar">
        <p class="fw-bold">5/10 exercises completed</p>
        <div class="progress">
            <div class="progress-bar" style="width: 50%"></div>
        </div>
        <p>Keep going to reach your goal</p>
        <button mat-raised-button class="btn RaisedBtn">Start Workout</button>
    </div>

    <div class="WhatsNextContener">
        <label class="fs-5 fw-bold">What's next</label> 
        <div *ngFor="let session of upcomingSessions">
            <button class="btn text-start WhatsNext">
                <p class="mb-0 fw-bolder">{{ session.date }}</p>
                <p>{{ session.title }}</p>
            </button>
        </div>
    </div>

    <div class="AchievementsContener">
        <p class="fs-5 fw-bold">Recent Achievements</p> 
            <div *ngFor="let AchievementsIndex of AchievementsIndexArray">
                <div class="Achievements btn text-start float-start" [attr.WhatsnextDay]="TitleAchievementList[AchievementsIndex]">
                    <p class="mb-0 fw-bolder">{{ TitleAchievementList[AchievementsIndex] }}</p>
                    <p>{{ DescAchievementList[AchievementsIndex] }}</p>
                </div>
                <label class="float-end">{{ ScoreAchievementList[AchievementsIndex] }}</label>
            </div>
    </div>
</div>