<div style="width: 80%; margin: auto; margin-bottom: 20px">
  <h2 mat-dialog-title class="fw-bold"> Start workout</h2>
 <mat-form-field appearance="fill" style="width: 100%;"> 
  <mat-label>Choose your workout</mat-label>
  <mat-select [ngModel]="selectedWorkoutId" (ngModelChange)="onWorkoutChange($event)">
    <mat-option *ngIf="todayWorkout" [value]="todayWorkout.id">{{todayWorkout.title}}</mat-option>
    <mat-option *ngFor="let workout of workouts" [value]="workout.id">{{workout.title}}</mat-option>
  </mat-select>
 </mat-form-field>
 <hr>
  <div *ngIf="selectedWorkout">
    <p><strong>Description:</strong></p>
    {{selectedWorkout.description}}
    <hr>
    <div *ngFor="let exercise of selectedWorkout.exercises">
      <strong>{{exercise.title}}</strong>
      <div *ngFor="let set of exercise.sets" style="display: flex; gap: 10px; margin: 10px 0;">
        <mat-form-field appearance="fill">
          <mat-label>Reps</mat-label>
          <input matInput type="number" [(ngModel)]="set.reps" placeholder="Reps" (ngModelChange)="updateSet(exercise.title)">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Weight (kg)</mat-label>
          <input matInput type="number" [(ngModel)]="set.weight" placeholder="Weight" (ngModelChange)="updateSet(exercise.title)">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>BreakTime</mat-label>
          <input matInput type="number" [(ngModel)]="set.breakTime" placeholder="BreakTime" (ngModelChange)="updateSet(exercise.title)">
        </mat-form-field>
      </div>
    </div>
  </div>
    <button (click)="startWorkout()" class="RaisedBtn btn">Start Workout</button>
</div>
