<!--<div>
  <div *ngFor="let exercise of workout?.exercises">
    <h4>{{ exercise.title }}</h4>
    <div *ngFor="let set of exercise.sets; let i = index" style="margin-bottom: 15px; border: 1px solid #ccc; padding: 10px; border-radius: 5px;">
      <h5>Set {{ i + 1 }} / {{ exercise.sets.length }}</h5>
      <p>Reps: {{ set.reps }}</p>
      <p>Weight: {{ set.weight }} kg</p>
      <p>Break Time: {{ set.breakTime }} seconds</p>
    </div>
</div> -->

<div>
    <p style="text-align: center; font-size: 30px; font-weight: bold; margin-bottom: 10px;">
      Timer: {{ formatTime(timer) }}
    </p>
    <p style="text-align: center; font-size: 24px; font-weight: bold; margin-bottom: 20px;">
      Workout: {{ workout?.title }}
    </p>
    <mat-progress-bar mode="determinate" [value]="((progress?.index ?? 1) / (finalProgress?.totalIndex ?? 1)) * 100"></mat-progress-bar>
    <div *ngIf="progress?.type == 'break'">
        <p style="text-align: center; font-size: 20px; margin-bottom: 10px;">
            Break Time Remaining: {{ remainingTime }} seconds
        </p>
    </div>
    <div *ngIf="progress && progress.type === 'exercise'">
        <p class="text-center text-xl mb-3">
            Current Exercise: {{ progress.exerciseTitle }}
        </p>            
        <mat-progress-bar mode="determinate" [value]="getSetProgress()"> </mat-progress-bar>

        <p class="text-center text-lg font-semibold mt-2">
            Set {{ progress.currentSet }} of {{ progress.totalSets }}
        </p>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Reps</mat-label>
            <input matInput type="number" [(ngModel)]="progress.reps">
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Weight</mat-label>
            <input matInput type="number" [(ngModel)]="progress.weight">
        </mat-form-field>
    </div>
    <div class="mt-4 flex justify-between">
        <button (click)="previousStep()" class="RaisedBtn btn">Previous Step</button>
        <button (click)="nextStep()" class="RaisedBtn btn">Next Step</button>
    </div>
</div>