<div class="mainContent text-center">
  <div class="profile-page" *ngIf="isLoggedIn; else loginTemplate">
    <!-- Profile Header -->
    <div class="profile-header" *ngIf="displayName">
      <h1>Welcome, {{ displayName }}!</h1>
      <p>{{ userProfile?.goal }}</p>
    </div>
  
    <!-- Statistics -->
    <div class="stats">
      <div class="stat-card">
        <h2>Workouts</h2>
        <p>{{ totalSessions !== null ? totalSessions : '0' }}</p>
      </div>
      <div class="stat-card">
        <h2>Weights</h2>
        <p>{{ totalWeights !== null ? totalWeights : '0' }}</p>
      </div>
      <div class="stat-card">
        <h2>Active Days</h2>
        <p>{{ consecutiveSessions !== null ? consecutiveSessions : '0' }}</p>
      </div>
    </div>
  
    <!-- Activity History -->
    <div class="activity-history">
      <h2>Recent Workouts</h2>
      <ul>
        <li *ngFor="let workout of recentWorkouts">
          <span>{{ workout.title }}</span>
          <span>{{ workout.date | date: 'shortDate' }}</span>
        </li>
      </ul>
    </div>
  
    <!-- Goals -->
    <div class="goals">
      <h2>Goals</h2>
      <div *ngIf="showExerciseSelection">
        <button mat-raised-button color="accent" (click)="openExerciseDialog()">Select Exercises</button>
        <br><br>
      </div>
      <div class="stats">
        <div class="stat-card" *ngFor="let exercise of userExercisesSelected">
          <h2>{{ exercise.title }}</h2>
          <div class="stat-content">
            <p>{{ exercise.highestWeight }} / 
              <span *ngIf="!showExerciseSelection">{{ exercise.goalWeight }}</span>
              <input *ngIf="showExerciseSelection" type="number" [(ngModel)]="exercise.goalWeight" (change)="updateGoalWeight(exercise)" class="goal-weight-input" />
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Badges -->
    <div class="badges">
      <h2>Badges</h2>
      <div class="stats">
        <div class="badges-card">
          <h2>Bench Press Record</h2>
          <img src="/assets/benchpress-badge.png" alt="Bench Press Badge">
        </div>
        <div class="badges-card">
          <h2>Squat Record</h2>
          <img src="/assets/squat-badge.png" alt="Squat Badge">
        </div>
        <div class="badges-card">
          <h2>Deadlift Record</h2>
          <img src="/assets/deadlift-badge.png" alt="Deadlift Badge">
        </div>
      </div>
    </div>
  
    <!-- Settings -->
    <div class="settings">
      <button class="btn" [ngClass]="{'btn-primary': showExerciseSelection, 'btn-secondary': !showExerciseSelection}" (click)="editProfile()">
        Edit Profile
      </button>
      <button class="btn btn-secondary" (click)="logout()">Log Out</button>
    </div>
  </div>

  <ng-template #loginTemplate>
    <app-login></app-login>
  </ng-template>
</div>
