$background-color: #FAFAFA;
$primary-color: #1C1E1F;
$secondary-color: #607AFC;

//GLOBAL
html, body { height: 100%; }
body{ 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: $background-color !important;
}

nav{
  padding: 1rem;
  border-bottom: 2px solid rgba(211, 211, 211, 0.3);
  overflow: auto;
  color: $primary-color;
}

nav a{
  color: $primary-color;
  text-decoration: none;
}

.mainContent{
  margin: 2% 20% 0% 20%;
  padding: 0 0 3% 0;
  width: 60%;
  color: $primary-color;
}

.RaisedBtn{
  background-color: $secondary-color !important;
  color: white !important;
  font-weight: bold !important;
  float: right;
}

.progress-bar{
  background-color: $secondary-color !important;
}

//Dashboard
.WhatsNext:hover, .Achievements:hover{
  background-color: lightgray !important;
  border: 1px solid gray !important;
}

.WhatsNext, .Achievements{
  width: 60%;
}

//Exercises
#SearchBar{
  width: 90%;
}

.SearchBarContainer{
  height: 5vh;
  margin-bottom: 2%;
}

.CreateExerciseBtn{
  margin-left: 3%;
  width: 15%;
}

.Exercises{
  width: 100%;
}

.ExercisesContainer{
  column-count: 2;
}