<h2 mat-dialog-title class="fw-bold">
      {{ isDateExist() ? 'Edit Plan for' : 'Create Plan for' }} {{ getSessionOrEmpty().date }}
    </h2>
    <mat-dialog-content>
      <p class="fw-bold">Title:</p>
      <mat-form-field style="width: 70%;">
        <input 
          matInput
          [(ngModel)]="newSession.title" 
          [ngModelOptions]="{ standalone: true }" 
          style="text-align: center;">
      </mat-form-field>
      <br>
      
      <p class="fw-bold">Description:</p>
      <mat-form-field style="width: 90%;">
        <textarea 
          matInput
          [(ngModel)]="newSession.description" 
          [ngModelOptions]="{ standalone: true }"
          (input)="autoResize(textarea)" #textarea>
        </textarea>
      </mat-form-field>
      <p class="fw-bold">Exercises:</p>
      <mat-form-field *ngIf="exercisesList.length === 0">
        <mat-label>Workouts</mat-label>
        <mat-select [(ngModel)]="selectedWorkoutTitle" name="workouts" (selectionChange)="this.workoutChange($event.value)">
          <mat-option *ngFor="let workout of workouts" [value]="workout.title">
            {{ workout.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngFor="let exercise of exercisesList">
        <calendar-item
          [exercise]="exercise"
          (removeExerciseEvent)="removeExercise($event)"
          (updateExercise)="updateExerciseTitle()">
        </calendar-item>
      </div>

    </mat-dialog-content>
    <mat-dialog-actions>
      <div style="width:100%; margin-bottom: 2%">
        <button *ngIf="isDateExist()" mat-button (click)="Delete(getSessionOrEmpty().session_id)" class="RaisedBtn DeleteBtn float-start">Delete plan</button>
        <button mat-fab style="margin-top: -2%;" (click)="addExercise()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-button (click)="Save(getSessionOrEmpty())" [disabled]="!newSession.title || !newSession.description" class="RaisedBtn btn float-end">Save plan</button>
      </div>
    </mat-dialog-actions>
