<div *ngIf="exercisesdata && exercisesdata.length > 0">
  <div *ngFor="let exercise of exercisesdata;" class="exercise-grid2" [id]="'exercise-div-' + exercise.exercise_id">
    <input type="hidden" [id]="exercise.exercise_id" [value]="exercise.exercise_title">
    <mat-form-field class="select-field">
      <mat-label>Exercise</mat-label>
      <mat-select [(ngModel)]="exercise.exercise_title" (selectionChange)="inputOnChange()">
        <mat-option *ngFor="let ex2 of exercises" [value]="ex2.title">
          {{ ex2.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input-number">
      <mat-label>Sets</mat-label>
      <input matInput type="number" [(ngModel)]="exercise.sets" (ngModelChange)="inputOnChange()" min="1">
    </mat-form-field>

    <mat-form-field class="input-number">
      <mat-label>Reps</mat-label>
      <input matInput type="number" [(ngModel)]="exercise.reps" (ngModelChange)="inputOnChange()" min="1">
    </mat-form-field>

    <button mat-fab (click)="removeExercise(exercise.exercise_id)" style="margin-bottom: 30%;">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
