<div class="exercise-grid">
  <!-- Wiersz z polem Exercise -->
  <div class="exercise-row">
    <mat-form-field class="select-field">
      <mat-label>Choose Exercise</mat-label>
      <mat-select [(ngModel)]="selectedExercise">
        <mat-option *ngFor="let exercise of exercises" [value]="exercise.title">
          {{ exercise.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Pole Sets -->
    <div *ngIf="selectedExercise" class="input-group">
      <input type="hidden" [value]="selectedExercise">

      <mat-form-field class="input-number">
        <mat-label>Sets</mat-label>
        <input
          matInput
          type="number"
          [(ngModel)]="sets"
          (ngModelChange)="onSetsChange()"
          required
        >
      </mat-form-field>
    </div>
  </div>

  <!-- Sekcja reps - dynamiczne pola poniżej -->
  <div *ngIf="selectedExercise" class="reps-container">
    <div *ngFor="let rep of repsArray; let i = index" class="reps-field">
      <mat-form-field class="input-number">
        <mat-label>Reps {{ i + 1 }}</mat-label>
        <input matInput 
               type="number" 
               [(ngModel)]="repsArray[i]" 
               (ngModelChange)="onChange()" 
               required>
      </mat-form-field>
    </div>
  </div>
</div>
