<div *ngFor="let exercise of exercisesdata" class="exercise-grid">
  <div class="exercise-row">
    <mat-form-field class="select-field">
      <mat-label>Exercise</mat-label>
      <mat-select [(ngModel)]="exercise.exercise_title" (selectionChange)="inputOnChange()">
        <mat-option *ngFor="let ex2 of exercises" 
          [value]="ex2.title" 
          [disabled]="isExerciseSelected(ex2.title)">
          {{ ex2.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="input-number">
      <mat-label>Sets</mat-label>
      <input matInput 
             type="number" 
             [(ngModel)]="exercise.sets" 
             (ngModelChange)="onSetsChange(exercise)" 
             min="1" 
             required>
    </mat-form-field>

    <button mat-fab style="margin-top: -20px" (click)="removeExercise(exercise.exercise_id)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="reps-container">
    <div *ngFor="let rep of exercise.reps; let i = index" class="reps-field">
      <mat-form-field class="input-number">
        <mat-label>Reps {{ i + 1 }}</mat-label>
        <input matInput 
               type="number" 
               [(ngModel)]="exercise.reps[i]" 
               (ngModelChange)="inputOnChange()" 
               min="1" 
               required>
      </mat-form-field>
    </div>
  </div>
</div>
