<div>
  <div class="AddExercise">
    <div>
    <mat-form-field>
      <mat-label>Choose Exercise</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="Exercise">
        @for (Exercise of exercises; track Exercise) {
          <mat-option [value]="Exercise.value">{{Exercise.value}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
    <div class="ExerciseInput">
        <label>Sets</label><br>
        <input matInput placeholder="Sets" type="number">
    </div>
    <div class="ExerciseInput">
      <label>Reps</label><br>
      <input matInput placeholder="Reps" type="number">
      </div>
  </div>
  
</div>