<div class="AddExercise">
  <div>
    <mat-form-field>
      <mat-label>Choose Exercise</mat-label>
      <mat-select [(ngModel)]="selectedExercise" (selectionChange)="onSelectChange($event)">
        <mat-option *ngFor="let exercise of exercises" [value]="exercise.title">
          {{ exercise.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="selectedExercise">
    <div class="ExerciseInput" style="float:left;">
      <label [attr.for]="'sets-' + exerciseIdCounter">Sets</label><br>
      <input [id]="'sets-' + exerciseIdCounter" name="sets" matInput placeholder="Sets" type="number" [(ngModel)]="sets">
    </div>
    <div class="ExerciseInput" style="float:right;">
      <label [attr.for]="'reps-' + exerciseIdCounter">Reps</label><br>
      <input [id]="'reps-' + exerciseIdCounter" name="reps" matInput placeholder="Reps" type="number" [(ngModel)]="reps">
    </div>
  </div>
</div>
